@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";
html,
body,
#root {
  height: 100%;
}
body {
  background-color: #ebfffc;
  margin: 0;
  display: grid;
  padding: 3em;
  place-items: center;
}
.boxes {
  display: grid;
  grid-gap: 5em;
  grid-template-columns: repeat(2, minmax(450px, 1fr));
  grid-template-rows: 600px;
}
.box {
  display: flex;
  flex-direction: column;
  height: 100%;
  // background-color: #ffdd57;
  background-color: lightyellow;
  h1 {
    font-size: 20px;
    margin: 0 0 1rem 0;
  }
  .content {
  }
  ol {
    margin-left: 0;
    li {
      align-items: center;
      display: flex;
      justify-content: flex-start;
    }
  }
}
.button {
  background: #f14668;
  border: 1px solid transparent;
  color: white;
  margin-right: 1em;
  padding: 0.25em 0.75em;
  transition: all 0.25s ease-in;
  &:hover {
    background: white;
    border: 1px solid #f13057;
    color: #333;
  }
}
